
svg {
    font: 10px sans-serif;


    .axis path, .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }

    blockquote:before {
        position: absolute;
        left: 2em;
    }

    blockquote:after {
        position: absolute;
    }


    #circle circle {
        fill: none;
        pointer-events: all;
    }

    .group path {
        fill-opacity: 1;
        fill: $black;
        stroke: $black;
        stroke-width: 1px;
        // fill: url(#amFlag);
    }

    .group {

        cursor: pointer;

        &.hover,
        &:hover,
        &.selected {
            path {

                &.inner {
                    fill: $white !important;
                    fill-opacity: 0.7;
                }
            }
            text {
                fill: $black;
            }
        }
    }

    path.chord {
        cursor: pointer;
        fill: $black;
        stroke: $black;
        stroke-width: 1px;
        opacity: 0.5;

        // &.showall {
        //   opacity: 0.2;
        // }

        &.hover,
        &:hover {
            fill: $blue;
            stroke: $blue;
            opacity: 1 !important;
        }
    }

    path.fade {
        display: none;
    }


    text {
        fill: $white;
        font-weight: bold;
        font-size: 12px;
    }
}