.line-plot {

    .plot {
        fill: rgba(250, 250, 255, 0.6);
    }
    .grid .tick {
        stroke: lightgrey;
        opacity: 0.6;
    }
    .grid path {
        stroke-width: 0;
    }
    .axis path, .axis line {
        fill: none;
        stroke: none;
        shape-rendering: crispEdges;
    }
    .axis path {
        display: none;
    }
    .line {
        fill: none;
        stroke: steelblue;
        stroke-width: 1.5px;
    }

    text {
        fill: grey;
        font-family: monospace;

    }
}