.stacked-line-plot {

    .plot {
        fill: #ffffff;
    }
    .grid .tick {
        stroke: #BEC9CE;
        opacity: 0.6;
    }
    .grid path {
        stroke-width: 0;
    }
    .axis path, .axis line {
        fill: none;
        stroke: none;
        shape-rendering: crispEdges;
    }
    .axis path {
        display: none;
    }


    .line {
        fill: none;
        stroke: #9175f0;
        stroke-width: 3px;
    }

    .minimap {
        .line {
            fill: none;
            stroke: #9175f0;
            stroke-width: 2px;
        }
    }

    .dot {
        stroke: #68a1e5;
        fill: #deebfa;

        &:hover {
            fill: darken(#deebfa, 20%);
        }
    }

    text {
        fill: #BEC9CE;
        font-family: monospace;

    }
    

    .brush .extent {
      stroke: #fff;
      fill-opacity: .125;
      shape-rendering: crispEdges;
    }
}