.image-viz
    a(href="#{image}", target="_blank")
        img(src="#{image}_small")
    .image-slider
        input(type="range", name="points", min="0", max="#{imageCount-1}", value="0").image-slider
