extends ../layout


block content

    .row
        .six.columns
            h2
                | Visualization Types

            h4
                a(href="#import-visualization-modal", rel="modal:open")
                    | Import Visualization
            h4
                a(href="./advanced")
                    | Advanced Settings

    .row
        .six.columns
            h4
                | Installed Visualizations
                
    for vizTypeGroup in utils.groupByN(vizTypes, 4)
        .row
            for vizType in vizTypeGroup
                .four.columns

                    a(href="./edit/#{vizType.id}").preview-container
                        .image-container
                            if vizType.image
                                .viz-preview()
                            else
                                .viz-preview.noimg

                        .title-container
                            | #{utils.titleCase(vizType.name)}


    .modal#import-visualization-modal
        #visualization-importer


block append scripts
    script(src='#{STATIC_URL}js/visualization-types.js')

        