.line-plot .plot {
  fill: rgba(250, 250, 255, 0.6); }
.line-plot .grid .tick {
  stroke: lightgrey;
  opacity: 0.6; }
.line-plot .grid path {
  stroke-width: 0; }
.line-plot .axis path, .line-plot .axis line {
  fill: none;
  stroke: none;
  shape-rendering: crispEdges; }
.line-plot .axis path {
  display: none; }
.line-plot .line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px; }
.line-plot text {
  fill: grey;
  font-family: monospace; }
