extends ../layout


block content
    .row
        .one-third.column
            h2
                | Saved Sessions

    .row
        .two-thirds.column
            ul
                for session in sessions
                    li
                        a(href="/sessions/#{session.id}/feed")
                            | #{session.id}

                        small.session-details
                                |  #{session.visualizations.length} visualizations 
                                | |
                                |  Created #{moment(session.createdAt).fromNow()}

    .row
        .four.columns
            a(href="/sessions/create")
                .button
                    | Create New Session

