
.feed-item-container(data-model="visualization", data-model-id="#{viz.id}")
    include ./includes/viz

    .description-container
        .description
            if viz.description
                | !{marked(viz.description)}
