// @font-face {
//   font-family: 'robotoblack';
//   src: url('/fonts/roboto-black-webfont.eot');
//   src: url('/fonts/roboto-black-webfont.eot?#iefix') format('embedded-opentype'), 
//        url('/fonts/roboto-black-webfont.woff') format('woff'), 
//        url('/fonts/roboto-black-webfont.ttf') format('truetype'), 
//        url('/fonts/roboto-black-webfont.svg#robotoblack') format('svg');

//   font-weight: normal;
//   font-style: normal; 
// }

// @font-face {
//   font-family: 'robotoregular';
//   src: url('/fonts/roboto-regular-webfont.eot');
//   src: url('/fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
//        url('/fonts/roboto-regular-webfont.woff') format('woff'), 
//        url('/fonts/roboto-regular-webfont.ttf') format('truetype'),
//        url('/fonts/roboto-regular-webfont.svg#robotoregular') format('svg');

//   font-weight: normal;
//   font-style: normal; 
// }

// @font-face {
//   font-family: 'robotomedium';
//   src: url('  /fonts/roboto-medium-webfont.eot');
//   src: url('/fonts/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'),
//        url('/fonts/roboto-medium-webfont.woff') format('woff'),
//        url('/fonts/roboto-medium-webfont.ttf') format('truetype'),
//        url('/fonts/roboto-medium-webfont.svg#robotomedium') format('svg');
//   font-weight: normal;
//   font-style: normal; 
// }

// @font-face {
//   font-family: 'robotobold';
//   src: url('/fonts/roboto-bold-webfont.eot');
//   src: url('/fonts/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
//        url('/fonts/roboto-bold-webfont.woff') format('woff'),
//        url('/fonts/roboto-bold-webfont.ttf') format('truetype'), 
//        url('/fonts/roboto-bold-webfont.svg#robotobold') format('svg');
//   font-weight: normal;
//   font-style: normal; 
// }

// @import url("//fast.fonts.net/t/1.css?apiType=css&projectid=c3645630-fc44-44ce-b8b4-59643f672a96");

@font-face {
  font-family: "ITC-franklin-gothic";
  src: url("../fonts/franklin-gothic/a8f18431-c947-418e-b76b-3b850019b9ae.eot?#iefix");
  src: url("../fonts/franklin-gothic/a8f18431-c947-418e-b76b-3b850019b9ae.eot?#iefix") format("eot"), 
       url("../fonts/franklin-gothic/ccc08884-48af-4f55-a503-311a57667899.woff") format("woff"), 
       url("../fonts/franklin-gothic/e8aa98d9-624b-4f85-bf36-89254994ba58.ttf") format("truetype"), 
       url("../fonts/franklin-gothic/9e278037-bbab-43fc-b8e5-d7bbe117c98c.svg#9e278037-bbab-43fc-b8e5-d7bbe117c98c") format("svg"); 

}

@font-face {
  font-family: 'ITC-franklin-gothic';
  src: url('../fonts/franklin_gothic_heavy-webfont.eot');
  src: url('../fonts/franklin_gothic_heavy-webfont.eot?#iefix') format('embedded-opentype'), 
       url('../fonts/franklin_gothic_heavy-webfont.woff') format('woff'), 
       url('../fonts/franklin_gothic_heavy-webfont.ttf') format('truetype'), 
       url('../fonts/franklin_gothic_heavy-webfont.svg#franklin_gothic_heavy-webfont') format('svg');
  font-style: normal;
  font-weight: bold; 
}

// @font-face {
//   font-family: "Flood W03 It";
//   src: url("/fonts/flood/d10170bf-cb26-43dd-9d25-e50b3ceb30a0.eot?#iefix");
//   src: url("/fonts/flood/d10170bf-cb26-43dd-9d25-e50b3ceb30a0.eot?#iefix") format("eot"), 
//        url("/fonts/flood/b1a4bad0-9a82-46c3-b497-4275dcfbad4b.woff") format("woff"), 
//        url("/fonts/flood/60afcaf6-4bb7-435c-9ea8-0b650dd88db9.ttf") format("truetype"), 
//        url("/fonts/flood/54cc2049-7b75-4464-89a8-74db3e9849d8.svg#54cc2049-7b75-4464-89a8-74db3e9849d8") format("svg"); 
// }

// @font-face {
//   font-family: 'CourierStd';
//   src: url('/fonts/courier-std-medium_12112.eot');
//   src: url('/fonts/courier-std-medium_12112.eot') format('embedded-opentype'),
//        url('/fonts/courier-std-medium_12112.woff') format('woff'), 
//        url('/fonts/courier-std-medium_12112.ttf') format('truetype'), 
//        url('/fonts/courier-std-medium_12112.svg#CourierStdMedium') format('svg'); 
// }