extends layout


//- block header
    include includes/header

block content
    .row
        .sixteen.columns
            .lightning-header
                h2 
                    | WELCOME TO LIGHTNING


                //- .button
                    | Create New Session


                form(action="/sessions", method="post")
                    input(type="submit", value="Create New Session")
