



.dashboard-container {
    .gridster {
        li {
            background: rebeccapurple;
        }
    }
}

.dashboard {
    &.container {
        width: 90%;


        .dashboard-layout-item {
            padding: 15px;
        }

        .dashboard-item-container {
            height: 100%;
        }
    }
    
}