


.editor-outer-section {
    width: 100%;
    border-size: 'border-box';
    clear: both;

    .editor-inner-section {
        padding-left: 4em;


        .top-matter {

            clear: both;
            padding-left: 20px;
            padding-top: 20px;
            .info-container {
                float: left;
                width: 23%;
                a {
                    display: inline-block;
                    position: relative;
                    top: -7px;
                    padding-left: 10px;
                }
            }

            .title-container {
                text-align: center;
                width: 54%;
                float: left;
                margin-bottom: 60px;
                h1 {
                    display: inline-block;
                    margin-top: 0;
                    margin-bottom: 0;
                    margin-left: 20px;

                }
            }
            .action-container {
                // margin-top: 15px;
                float: left;
                width: 20%;
                text-align: right;
                box-sizing: 'border-box';
                margin-right: 3%;
                margin-top: 1%;
                .button {
                    width: 70%;
                    display: inline;
                    padding-left: 3%;
                    padding-right: 3%;

                    &.pad-left {
                        margin-left: 7.5%;
                    }
                }

            }
        }
    }

    &.data-component {
        width: 80%;
        margin: 0 auto;
        /*background: #f0f0f0;*/
        /*min-height: 300px;*/
/*
        .editor-inner-section {
            padding-top: 30px;
        }*/
    }

    pre {
        padding: 0;
        border: none;
    }


    .editor-viz-container {
        width: 60%;
        margin: 0 auto;

        &.full {
            width: 60%;
            margin-bottom: 30px;
        }
    }

    .data-button {
        /*margin-top: 13px;*/

        margin-right: 10px;
        margin-top: 10px;

        &.active {
            color: #fff;
            background-color: $blue;
        }
    }

    code {
        border-radius: 4px;
        padding: 1.2em;
    }


    .tab-container {
        margin-top: 15px;
        margin-bottom: 20px;

        nav ul { 
            margin: 0; padding: 0; 
            li { 
                display: inline-block; 
                zoom:1; *display:inline;
                cursor: pointer;

                a { 
                    font-size: 14px; 
                    line-height: 2em; 
                    display: block; 
                    padding: 0 10px; 
                    outline: none; 
                    color: #444;

                    &:visited {
                        color: #444;
                    }
                }

                &.is-active {
                    background-color: #f6f7fa;; 
                    padding-top: 6px; 
                    position: relative; 
                    top: 1px; 
                    border-top: solid 2px $purple;

                    a {
                        font-weight: bold;
                    }
                }
            }
        }
        
        .tab-panel { 

            background-color: #f6f7fa;
            padding: 10px;
        }

        .code, pre {
            margin: 0;
        }

        .code, pre, code {
            background: white;
        }
    }

    
}